
.Header{
    margin: 0 40px 0 40px; 
    padding-bottom: 5px;
    padding-bottom: 5px;
    text-align: center;
    
    --x: 50%;
	--y: 50%;
	
	position: relative;
	appearance: none;
	/* padding: 1em 2em; */
	color: white;
	cursor: default;
	outline: none;
	/* border-radius: 50px; */
	

	border: 2px solid transparent;
	background: linear-gradient(rgb(61, 45, 43), rgb(17, 14, 14)) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;
}
.headerName{
    /* Positions */
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    /* Size  */

    /* Colors */
    color: rgb(251, 8, 8)
}
.mainHeaderBtns{
      /* Positions */
      text-align: center;
      /* Size  */
  
      /* Colors */
      color: rgb(255, 2, 44)
}

/* When the browser is at least 600px and above */
@media screen and (min-width: 600px) {
    .dropDown {
        display: none;
        position: absolute;
        right: 0;
    }
  }
  /* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  